<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Help page HBS</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    
    <!--on passe en argument un param ç une focntion enreigstrée dans servers.4.js 
     <p>{{screamit welcomeMessage}}</p>
    
    {{> footer}}
    <!--<footer>
    <p>Copyright {{currentYear}}</p>
    </footer>
-->
</body>
</html>