<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven /> 
	
	<context:annotation-config />
	
	<!-- <tx:annotation-driven transaction-manager="transactionManager"/>  -->
	
<!-- https://stackoverflow.com/questions/1132565/spring-jpa-and-persistence-xml#1138915 -->	

	 <!-- <jee:jndi-lookup id="dataSource" jndi-name="jdbc/erndatasource"/> 
	 -->
	
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://192.168.178.25:5432/fabthechemistdb" />
		<property name="username" value="postgres" />
		<property name="password" value="" />
	</bean> -->
<!-- 	  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"> -->
<!--        <property name="dataSource" ref="dataSource"></property> -->
<!--        <property name="configLocation" value="classpath:hibernateforspring.cfg.xml" /> -->
    
<!--        <property name="packagesToScan"> -->
<!--        <list> -->
<!--         	<value>fab.chemist.dbsql.orm.impl</value> -->
<!--         </list> -->
<!--         </property> -->
<!--     </bean> -->
    
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <!--  <property name="dataSource" ref="dataSource"></property> -->
     
     <property name="persistenceXmlLocation" value="classpath:persistence.xml"></property>  
      <property name="persistenceUnitName" value="CRM" />
     <property name="packagesToScan"> 
     <list>
     	<value>fab.chemist.dbsql.orm.impl</value>
     </list>
     </property>
    
    </bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
<!-- 	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="CRM" />
</bean> -->
	
	<!-- <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" p:sessionFactory-ref="sessionFactory">
	</bean> -->
	
	
	
	
<!-- 	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
	
      	<property name="dataSource" ref="dataSource" />
      	<property name="databaseSchemaUpdate" value="false" />
      	<property name="transactionManager" ref="transactionManager" />
      	<property name="jobExecutorActivate" value="true" /> 
     
      	
      	<property name="deploymentResources" value="classpath*:bpm/notation.bpmn20.xml" /> 
      	<property name="deploymentResources" value="classpath*:/bpm/*.bpmn" /> 
      
      	<property name="processDefinitionCacheLimit" value="10" />
      	
      	<property name="mailServerHost" value="localhost"></property>
      	<property name="mailServerPort" value="${mailport}"/>
      	
      	   
	</bean> -->
	
	<!-- <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean> -->
	
<!-- 	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
	<bean id="formService" factory-bean="processEngine" factory-method="getFormService" /> -->
	

  
		
	

</beans>